---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import ShortFormattedDate from "~/components/ShortFormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import "~/styles/global.css";

import { getCollection } from "astro:content";
import { Separator } from "~/components/ui/separator";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-midnight font-main dark:bg-midnight dark:text-offwhite">
    <Header />
    <div
      class="flex flex-col gap-4 items-center h-screen xs:w-[90%] sm:w-[80%] md:w-[75%] lg:w-[62.5%] xl:w-[57.5%] mx-auto"
    >
      <main class="flex flex-col flex-1 gap-2 items-center w-full">
        <div class="flex flex-1 items-center w-full text-xl">
          <div class="flex flex-col gap-4 w-full">
            <h2 class="text-xl text-center md:text-2xl">
              Hey, I'm Anish. I'm a software engineer.
            </h2>
            <div class="flex gap-2 justify-center p-2 mx-auto w-full text-lg">
              <div class="flex flex-col gap-4 w-full">
                <h2 class="text-xl">Blog</h2>
                <Separator
                  className="border border-space dark:border-offwhite"
                />
                <ul class="flex flex-col w-full">
                  {
                    posts.map((post) => (
                      <li class="flex flex-1 gap-2 min-w-full">
                        <a
                          href={`/blog/${post.slug}/`}
                          class="flex gap-4 justify-between w-full"
                        >
                          <h4 class="text-sm underline sm:text-lg md:text-xl decoration-dotted underline-offset-2 xs:text-base">
                            {post.data.title}
                          </h4>
                          <p class="justify-self-end text-sm sm:text-lg md:text-xl xs:text-base text-mediumgray">
                            <ShortFormattedDate date={post.data.pubDate} />
                          </p>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
