---
import type { CollectionEntry } from "astro:content";
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { Badge } from "~/components/ui/badge";
import FormattedDate from "~/components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="bg-offwhite text-midnight font-main dark:bg-midnight dark:text-offwhite"
  >
    <Header />
    <main
      class="flex overflow-y-scroll justify-center pt-20 mx-auto w-[95%] xs:w-[90%] sm:w-[80%] md:w-[75%] lg:w-[62.5%] xl:w-[57.5%]"
    >
      <article
        class="flex flex-col gap-2 justify-center p-2 text-base sm:text-lg"
      >
        <div class="prose">
          <div class="flex gap-2 mt-4 mb-4 w-full text-center">
            <div class="flex flex-col gap-2 w-full">
              <h1 class="text-3xl font-bold">{title}</h1>
              <FormattedDate date={pubDate} />
            </div>
          </div>
          <slot />
          <div class="flex gap-2 justify-end">
            <!-- <p>Tags:</p> -->
            <div class="flex gap-2 justify-end">
              {
                tags.map((tag) => (
                  <Badge className="bg-midnight text-offwhite dark:bg-offwhite dark:text-midnight">
                    {tag}
                  </Badge>
                ))
              }
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
